body {
  font-family: Arial;
  background: #f2f2f2;
  padding: 20px;
}

h1 {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc;
  padding: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 5px;
}

.card h3 {
  margin: 10px 0;
}

.preco {
  color: green;
  font-weight: bold;
  font-size: 18px;
}
